:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-primary: #242424;
  --color-primary: rgba(255, 255, 255, 0.87);
  --color-secondary: rgb(207, 150, 4);
  --link-color-primary: rgba(255, 255, 255, 0.87);
  --link-color-hover: rgba(255, 255, 255, 0.77);
}

a {
  font-weight: 500;
  color: var(--link-color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color-hover);
}
a.link-no-decoration {
  color: var(--color-primary);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

header {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--color-primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.color-secondary {
  color: var(--color-secondary);
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.header-element > * {
  margin: 20px 0;
}

.header-element > a {
  font-size: 1.2rem;
  cursor: pointer;
}

nav.header-element > * {
  margin-left: 50px;
}

nav.header-element > .active {
  color: var(--color-secondary);
}

.header-title {
  font-size: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    
    --color-primary: #213547;
    --background-color-primary: #ffffff;
  }
}
